.container {
  max-width: 1170px;
  margin: 0 auto;
}

body {
  background-color: black;
  background-image: url(https://polinka.top/uploads/posts/2023-05/1684545719_polinka-top-p-kartinki-zvezdnoe-nebo-fon-instagram-6.jpg);
}